{% extends "layout/layout.html" %}
{% load static %}

{% block body %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/donate2.jpg' %}" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">অনুদান</h6>
                <h1 class="mb-4"></h1>
                <p class="mb-4">আপনার অনুদান আমাদেরকে ফরাসি শিক্ষার উপাদান তৈরি করতে সাহায্য করবে, আমাদের প্রচেষ্টা  সম্পর্কে আরও তথ্যের জন্য আমাদের সাথে যোগাযোগ করুন.</p>
                <h3 class="bi bi-envelope" > <span>Email-></span> rozanamail12@gmail.com</h3>
                <h3 class="bi bi-telephone"> <span>phone-></span> 0033 758 643 350</h3>
                
                <div class="row gy-2 gx-4 mb-4">
                    
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- About End -->

  
{% endblock body %}
