{% extends "layout/layout.html" %}
{% load static %}

{% block body %}
<body >
    <div class="container-xxl py-5">
    <h1>French Culture</h1>
    <div class="d-flex justify-content-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/818rDzhuYsc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</body>
  

{% endblock body %}